<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Registration</title>
</head>

<body>

<form id="registrationForm">

    <h2>Register</h2>

    <div class="form-group">
        <label for="nickNameNewUser">Nick name</label>
        <div>
            <input type="text" class="form-control" id="nickNameNewUser">
        </div>
    </div>

    <div class="form-group">
        <label for="firstNameNewUser">First name</label>
        <div>
            <input type="text" class="form-control" id="firstNameNewUser">
        </div>
    </div>
    <div class="form-group">
        <label for="lastNameNewUser">Last name</label>
        <div>
            <input type="text" class="form-control" id="lastNameNewUser">
        </div>
    </div>
    <div class="form-group">
        <label for="emailNewUser">Email</label>
        <div>
            <input type="email" class="form-control" id="emailNewUser" aria-describedby="emailHelp">
        </div>
    </div>
    <div class="form-group">
        <label for="passwordNewUser">Password</label>
        <div>
            <input type="password" class="form-control" id="passwordNewUser">
        </div>
    </div>
    <div class="form-group">
        <label for="passwordConfirmNewUser">Confirm Password</label>
        <div>
            <input type="password" class="form-control" id="passwordConfirmNewUser">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Registration</button>
</form>
<br>
<a id="returnFromReg" class="btn btn-success" th:href="@{/login}">Return</a>




<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

<script src="/static/regUser.js"></script>

</body>

</html>